# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\University\AN3\SEM2\TD\Lab\td-sm-2021\Salcudean-Alexandru-Levente\lab1\Problema1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
